header {
	border: 1px solid #ccc;
	background: #f2f2f2;
	padding: 10px;
}

nav {
	border: 1px solid #ccc;
	background: #f2f2f2;
	padding: 10px;
}

footer {
	background: #ccc;
}

article {
	background: orange;
	border: 1px solid green;
}

section {
	border: 1px dotted red;
}

aside {
	background: blue;
}